@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body {
    font-size: 1rem;
    background: url('../img/backgroundBodyImage.jpg') fixed no-repeat;
}
a {
    color:#d1be7d;
}
ul::first-letter {
    size: 2em;
}
h2{
    text-align: center;
}
.shop {
    margin-top: 50px;
}
strong{
    float: right
}
.instrumentImageSize {
    height: 20em;
}
.instrumentImageBigSize {
    height: 15em;
}
.instrumentImageHugeSize {
    height: 10em;
}
/*HEADER*/
#mainHeader {
    background-color: #d1be7d;
}
.mainTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8em;
    letter-spacing: 0.1em;
    
}
.secondMainTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    font-style: italic;
}
.container {
    background-color:  white;
}
/*TITRES DE SECTIONS*/
.sectionTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #d1be7d;
    letter-spacing: 0.1em;
    font-size: 4em;
    margin: 0;
    background-color: black;
    
}
/*NAVBAR*/
#navBar {
    background-color: black;
    color: #d1be7d;
}
.navbar-toggler-icon {
    background-color: #d1be7d;
}
/*CENTRER LES PHOTOS*/
.centerItem{
    text-align: center;
}

/*FOOTER*/
footer {
    height: 20em;
    background-color: black;
    color: #d1be7d;
}